html {
    box-sizing: border-box;
    font-size: 62.5%;
   scroll-behavior: smooth;
  
}
  *,*:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    height: 97vh;
    background-color: #f8f5e9;

}
@font-face {
    font-family: 'Luckiest Guy';
    src: url('./fonts/LuckiestGuy-Regular.ttf');
    font-style:normal;
}
@font-face{
    font-family: 'Indie Flower';
    src: url('./fonts/IndieFlower-Regular.ttf');
    font-style: normal;
}
p{
    margin: 1rem;
}
/* globales */
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto ;
}
   
img{
max-width:100%;
}
.n-margin{
    margin: 0;
}
.f-principal{
    font-family: luckiest Guy;
    letter-spacing: .3rem;

}
.f-5{
    font-size: 8rem;
}
h1{
    font-size: 6rem;
    
}
h2{
    font-size: 2rem;
    
}
h3{
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 1.5rem;
   
}
@media(min-width:768px){
    h3{
        font-size: 2rem;
    }
}
.c-w{
    color: white;
}
.c-c{
    color: rgb(9, 214, 241);
}
.c-s{
    color: #ff9600 ;
}
.btn{
    display: block;
    text-align: center;
    padding: 1.2rem;
    text-decoration: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 1.2rem 0;
    font-weight: 900;
    text-transform: uppercase;
    
}
@media(min-width:768px){
    .btn{
        display: inline-block;
        padding: 1.2rem 2.5rem;
    }
}
.btn-principal{
    background-color: rgba(9, 214, 241, 0.70);
    color: white;
    transition: background-color .9s ease .2s;
}
.btn-principal:hover{
    color: rgb(9, 214, 241);
    background-color: rgba(255, 255, 255, 0.70);
}
.btn-secundario{
    color: rgb(9, 214, 241);
    background-color: rgba(255, 255, 255, 0.70);
}
.btn-secundario:hover{
    color: white;
    background-color: rgba(9, 214, 241, 0.70);
    transition: background-color .9s ease .2s ;

}
.btn-ver-mas{
   display: inline-block;
   text-decoration: none;
   color: white;
   text-transform: uppercase;
   border: solid 2px #ff9600 ;
   padding: 1rem 2rem;
   width: 50vw;
   margin: 0 auto;
   font-size: 2rem;
   transition:  background-color 1s ease, border-radius 1s ease ;
}
.btn-ver-mas:hover{
  
    background-color: #ff9600;
    border-radius: 10px;
}
@media(min-width:768px){
    .btn-ver-mas{
        width: 18vw;
    }
}
.c-titulo{
    text-align: center;
    margin: 2rem 0 1rem 0;
    font-size: 12vw;

}
@media(min-width:768px){
.c-titulo{
    font-size:4vw ;
}
}
.centrar{
    text-align: center;
}
/* encabezado  */
.fondo{
    background-image: url(./img/baner-2.png);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    
   
}

/* menu */

.hamburger{
	position:fixed;
  background-color:transparent;
	right:0;
	top:1.1rem;
	height:30px;
	width:30px;
    margin-right: 1.2rem;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
@media(min-width:768px){
    .hamburger{
        display: none;
    }
}
._layer{
	background:rgb(233, 233, 233);
	margin-bottom:4px;
	border-radius:2px;
	width:30px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.3);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   
}
@media(min-width:768px){
    .menuppal{
        display: block;
    }
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Luckiest Guy;
	font-size:2rem;
	line-height:3.5em;
	text-transform:none;
	font-weight:bold;
    padding:0.7rem;
    letter-spacing: .3rem;
    
}
.menuppal ul li a i{
    font-size: 3.5rem;
}
.menuppal ul li a{
  text-decoration:none;
  color:white;
  position: relative;
  z-index: 1;
}
.bor-b::after{
    position: absolute;
    content: "";
    border-bottom:2px solid rgb(9, 214, 241);
    height: 1rem;
    width: 0;
    left: 50%;
    top: 25px;
    transition: all .4s ease 0s;
    z-index: -1;

}

.menuppal a:hover::after{
    width: 100%;
    left: 0;
    
  }
  .menuppal a:hover{
      color:rgb(9, 214, 241);
  }

/* menu principal */
.menu-p{
    display: none;
}
@media(min-width:768px){
    .menu-p{
        display: block;
    
       
    }
    .menu-p a{
        color: white;
        text-decoration: none;
        margin-right: 1rem;
        position: relative;
        z-index: 1;
        font-size: 1.4rem;
        text-shadow: 0 0 10px rgb(136, 136, 136), 2px 2px 2px rgba(206,206,206,0);
    }
    .menu-p a:nth-child(1){
        background-color: white;
        color:rgb(9, 214, 241) ;
        padding: 1rem 2rem;
        border-radius: 3rem;
        transition: background-color .5s ease-in-out;
        text-shadow: 0 0 0px;
    
    }
    .menu-p a:nth-child(1):hover{
        background-color: rgb(9, 214, 241);
        color:white;
      
    }
    .bor-b::after{
        position: absolute;
        content: "";
        border-bottom:2px solid rgb(9, 214, 241);
        height: 1rem;
        width: 0;
        left: 50%;
        top: 25px;
        transition: all .4s ease 0s;
        z-index: -1;
    
    }
    .menu-p a:hover::after{
        width: 100%;
        left: 0;
    }
}
.barra{
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}
@media(min-width:768px){
    .barra{
        justify-content: space-between;
        margin: 0 auto;
        position: fixed;
        text-align: center;
        top: 0;
        left: 7%;
        border-radius: 2rem;
        z-index: 99999;
    }
    .barra-vacia{
     padding: 7rem;
    }
}
.logo{
 text-align: center;   
}
.logo i {
    color: white;
    font-size: 4rem;
    transition: color .5s ease-in-out;
}
@media(min-width:768px){
.logo i{
font-size: 2.5rem;
}

}
.logo i:hover{
    cursor: pointer;
color: rgb(9, 214, 241);
    
}
.shadow:hover {
    -webkit-filter: drop-shadow( 0px 0px 5px white );
            filter: drop-shadow( 0px 0px 6px white );
}
.logo p{
    color: white;
    font-size: 2rem;
}
.envio{
  display: none;
}
@media(min-width:768px){
    .envio{
        display: block;
        color: white;
      } 
      .envio i{
        font-size: 2.5rem;
      } 
      .envio p{
          font-size: 1.4rem;
      }
    
      .logo p{
          font-size: 1.4rem;
      }
}

/* contenido mascotas */

.cont-pet{
    display: flex;
    justify-content: flex-start;
}
.v-movil{
    display: none;
}
@media(min-height:812px){
    .cont-pet{
        margin-top: 4rem;
    }
    
}
.img-pet{
        flex-basis: 50%;
    }
.text-pet{
    color: white;
    text-transform: uppercase;
 flex-basis:45%;
 text-align: center;
 
}
.text-pet h2{
    font-size: 18vw;
}
@media(min-width:768px){
    .img-pet{
        flex-basis: 60%;
    }
    .text-pet{
        flex-basis: 35%;
      
    }
    .text-pet h2{
        font-size: 7vw;
    }
    .text-pet p{
        text-align: center;
    }
    .v-movil{
        display: block;
       
    }
    .qr{
        height: 15rem;
        margin-top: 2rem;
    }
}

.text-pet{
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 
@media(min-width:768px){
    .text-pet{
      margin-left: -10rem;
    }
}

.pet-shop{
    text-align: center;
    padding: 0rem 3rem ;
    padding-top: 2rem;
  
}

.pet-shop h1{
    text-transform: uppercase;
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(206,206,206,0);
    font-size: 14vw;
}
@media(min-height:812px){
    .pet-shop{
    padding-top: 5rem;
    }
    .pet-shop h1{
        font-size: 16vw;
    }
    .botones{
        padding-top: 2rem;
    }
 }
 @media(min-width:768px){
     .botones{
         padding-top: 2rem;
     }
 }
h1 {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 2s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }
    
    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }
    
    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }
    
    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }
    
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    
    @keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
    }
    
    60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
    }
    
    75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    }
    
    90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    }
    
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 
.pet-shop h2{
    font-family: 'Indie Flower';
    font-size: 6vw;
    text-transform: capitalize;
    font-style: italic;
}
.pet-shop p{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.6;
}
@media(min-height:812px){
.p-principal{
    height: 80%;
}
}
@media(min-width:768px){
    .p-principal{
        display: flex;
        justify-content: space-between;
     align-items: center;
    
    }
    .pet-shop{
        flex-basis: 60%;
        margin-top: -3rem;
    
    }
    .pet-shop h1{
        font-size: 5.5vw;
    }
    .pet-shop h2{
        font-size: 1.6vw;
      
    }
}
/* Redes sociales */
.cont-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97%;

   
}
@media(min-width:768px){

}
.iconos-s{
    display: flex;
    justify-content:center ;
    color: white;
}
.iconos-s i{
    font-size: 3.5rem;
    transition: color .5s ease-in-out;
}
.iconos-s i:hover{
    color:rgb(9, 214, 241) ;
    cursor: pointer;
}

/* CONTENIDO NOSOTROS */

.nosotros{
    max-height: 100%;
    overflow: hidden;
}



.contenido-nosotros{
    text-align: center;
}

.caja-nosotros{
    margin: 3rem 0;
}

.icono i {
    font-size: 12vw;
    color: #ff9600;
    
   
}
.texto-nosotros{
    font-size: 5vw;
    line-height: 1.4;
}
.gato-perro{
    height: 25rem;
  
}
/*@keyframes gatoperro  {
    0%{
       transform: translateY(100%); 
    }
    100%{
        transform: translateY(0%); 
    }
}*/
.g-p{

transform: translateY(100%);
transition: transform 1.5s ease;

}
main:hover .g-p{
    transform: translateY(0%);
}

@media(min-width:768px){
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(4, 22%);
        align-items: center;
        text-align: center;
        justify-content: space-between;
        grid-column-gap: 1rem;
    }
    .nosotros{
        height: 100vh;
    }
    .texto-nosotros{
        font-size: 1.6rem;
     
    }
    .icono i {
        font-size:4vw;
        color: #ff9600;
    }
    .gato-perro{
      display: flex;
      justify-content: center;
      height: 35rem;
    }
    .g-p{
        left: 30%;
        width: 30%;
    
    }
}

/* tienda */

.banner{
    position: relative;
    height: 40rem;
}
.banner::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    background-image: url(./img/baner-1.png);
    background-size:cover;
   background-position:right;
   background-attachment: fixed;
   background-repeat: no-repeat;
   filter:brightness(0.6)
}
.titulo{
    position: relative;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo h2{
    color: rgb(9, 214, 241);
    text-transform: uppercase;
    font-size: 12vw;
    text-shadow: 0 0 10px rgb(216, 215, 215), 2px 2px 2px rgba(206,206,206,0);
    margin: 1rem 0;
}
.titulo i{
    font-size: 10vw;
    color: white;
    padding: 0 2rem;
   transition: color .5s ease;
}
.titulo i:hover {
color:#ff9600  ;
}
.texto-t{
    color: white;
    margin: 0 0 1rem 0;
    font-size: 4.5VW;
}
@media(min-width:768px){
    .titulo h2{
        font-size: 4vw;
    }
    .titulo i{
        font-size: 3vw;
    }
    .texto-t{
        font-size: 1.2vw;
    }
}
/* productos */

.logo-h2 img{
    width: 5rem;
    
}
.c-productos{
 margin-bottom: 2rem;  
}
.productos{
height: 100%;
padding: 2rem 1rem;
}
.conte-productos{
    background-color: white;
    padding: .5rem;
    margin: 1rem 0;
   height: 70%;
   position: relative;
   overflow: hidden;
   box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.10);
   -webkit-box-shadow: 3px 4px 21px 5px rgba(0,0,0,0.48);
   -moz-box-shadow: 3px 4px 21px 5px rgba(0,0,0,0.48);
transition: border 1s ease, transform 1s ease;
}
@media(min-width:768px){
    .productos{
        display: grid;
        justify-content: space-between;
        align-items: center;
        grid-template-columns: repeat(4, 24%);
    }
    .conte-productos{
        height: 90%;
        margin-bottom: 2rem;
    }
}
.conte-productos:hover{

    transform: scale(1.2);
}
.ver-mas{
    background-color: rgba(0, 0, 0, 0.534);
    height: 100%;
    position: absolute;
    top: 0;
   left: 0;
   width: 100%;
transform: translateY(100%);
  transition: transform 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conte-productos:hover .ver-mas{
transform: translateZ(0);
}
.conte-productos img{

    transition: filter .6s ease, transform 1s ease;
}
.conte-productos:hover img{
   
    filter: grayscale(1);
}

/* cat */
.cat{
    width: 8.5rem!important;
}
.patas{
    display: none;
}
@media(min-width:768px){
    .c-patas{
        position: relative;
       overflow: hidden;
    }
    .patas{
     display: block;
        height: 12rem;
        width: 100%;
        position: absolute;
        top: 50px;
        transform: translateY(100%);
        transition: transform 1s ease;
        display: flex;
        justify-content: space-around;
    }
    .c-patas:hover .patas{
        transform: translateY(0);
    }
}

.contacto-banner{
    position: relative;
    height: 40rem;
}
.contacto-banner::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/banner-contacto.png);
    background-position: initial;
    background-size: cover;
   background-attachment: fixed;
    filter:brightness(0.6)
}
.contacto{
    position: relative;
}
.contacto h2{
    text-align: center;
    margin: 2rem 0 1rem 0;
    font-size: 12vw;
    text-shadow: 0 0 10px rgb(216 215 215), 2px 2px 2px rgb(206 206 206 / 0%);
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contacto i{
    font-size: 10vw;
    color: white;
    padding: 0 2rem;
   transition: color .5s ease;
}
.contacto i:hover{
    color:#ff9600  ;
}
@media(min-width:768px){
    .contacto h2{
    text-align: center;
    margin: 2rem 0 1rem 0;
    font-size: 4vw;

    }
    .contacto i{
        font-size: 3vw;
    }
}