html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,*:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    height: 100vh;
}
@font-face {
    font-family: 'Luckiest Guy';
    src: url('./fonts/LuckiestGuy-Regular.ttf');
    font-style:normal;
}
@font-face{
    font-family: 'Indie Flower';
    src: url('./fonts/IndieFlower-Regular.ttf');
    font-style: normal;
}
p{
    margin: 1rem;
}
/* globales */
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto ;
}
   
img{
max-width:100%;
}
.n-margin{
    margin: 0;
}
.f-principal{
    font-family: luckiest Guy;
    letter-spacing: .3rem;

}
.f-5{
    font-size: 8rem;
}
h1{
    font-size: 6rem;
    
}
h2{
    font-size: 2rem;
    
}
.c-w{
    color: white;
}
.c-c{
    color: rgb(9, 214, 241);
}
.btn{
    display: block;
    text-align: center;
    padding: 1.8rem 2rem;
    text-decoration: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin: 1.2rem 0;
    font-weight: 900;
    text-transform: uppercase;
    
}
@media(min-width:768px){
    .btn{
        display: inline-block;
        padding: 1.2rem 2.5rem;
    }
}
.btn-principal{
    background-color: rgba(9, 214, 241, 0.70);
    color: white;
    transition: background-color .9s ease .2s;
}
.btn-principal:hover{
    color: rgb(9, 214, 241);
    background-color: rgba(255, 255, 255, 0.70);
}
.btn-secundario{
    color: rgb(9, 214, 241);
    background-color: rgba(255, 255, 255, 0.70);
}
.btn-secundario:hover{
    color: white;
    background-color: rgba(9, 214, 241, 0.70);
    transition: background-color .9s ease .2s ;

}
/* encabezado  */
.fondo{
    background-image: url(./img/baner-2.png);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    
   
}

/* menu */

.hamburger{
	position:fixed;
  background-color:transparent;
	right:0;
	top:1.1rem;
	height:30px;
	width:30px;
    margin-right: 1rem;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
@media(min-width:768px){
    .hamburger{
        display: none;
    }
}
._layer{
	background:white;
	margin-bottom:4px;
	border-radius:2px;
	width:30px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.3);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
   
}
@media(min-width:768px){
    .menuppal{
        display: block;
    }
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
  list-style: none;
	text-align:center;
	font-family: Luckiest Guy;
	font-size:2rem;
	line-height:3.5em;
	text-transform:none;
	font-weight:bold;
    padding:2rem;
    letter-spacing: .3rem;
    
}
.menuppal ul li a i{
    font-size: 3.5rem;
}
.menuppal ul li a{
  text-decoration:none;
  color:white;
  position: relative;
  z-index: 1;
}
.bor-b::after{
    position: absolute;
    content: "";
    border-bottom:2px solid rgb(9, 214, 241);
    height: 1rem;
    width: 0;
    left: 50%;
    top: 25px;
    transition: all .4s ease 0s;
    z-index: -1;

}

.menuppal a:hover::after{
    width: 100%;
    left: 0;
    
  }
  .menuppal a:hover{
      color:rgb(9, 214, 241);
  }

/* menu principal */
.menu-p{
    display: none;
}
@media(min-width:768px){
    .menu-p{
        display: block;
       
    }
    .menu-p a{
        color: white;
        text-decoration: none;
        margin-right: 1rem;
        position: relative;
        z-index: 1;
        text-shadow: 0 0 10px rgb(136, 136, 136), 2px 2px 2px rgba(206,206,206,0);
    }
    .menu-p a:nth-child(1){
        background-color: white;
        color:rgb(9, 214, 241) ;
        padding: 1rem 2rem;
        border-radius: 3rem;
        transition: background-color .5s ease-in-out;
        text-shadow: 0 0 0px;
    }
    .menu-p a:nth-child(1):hover{
        background-color: rgb(9, 214, 241);
        color:white;
      
    }
    .bor-b::after{
        position: absolute;
        content: "";
        border-bottom:2px solid rgb(9, 214, 241);
        height: 1rem;
        width: 0;
        left: 50%;
        top: 25px;
        transition: all .4s ease 0s;
        z-index: -1;
    
    }
    .menu-p a:hover::after{
        width: 100%;
        left: 0;
    }
}
.barra{
    padding-top: 1rem;
    padding-left: 1rem;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}
@media(min-width:768px){
    .barra{
        justify-content: space-between;
        text-align: center;
        margin: 0 auto;
    }
}
.logo{
 text-align: center;   
}
.logo i {
    color: white;
    font-size: 4rem;
    transition: color .5s ease-in-out;
}
@media(min-width:768px){
.logo i{
font-size: 3rem;
}

}
.logo i:hover{
    cursor: pointer;
color: rgb(9, 214, 241);
    
}
.shadow:hover {
    -webkit-filter: drop-shadow( 0px 0px 5px white );
            filter: drop-shadow( 0px 0px 6px white );
}
.logo p{
    color: white;
    font-size: 2rem;
}
.envio{
  display: none;
}
@media(min-width:768px){
    .envio{
        display: block;
        color: white;
      } 
      .envio i{
        font-size: 3rem;
      } 
    
      .logo p{
          font-size: 1.6rem;
      }
}

/* contenido mascotas */

.cont-pet{
    display: flex;
    justify-content: space-between;
}
.img-pet{
        flex-basis: 60%;
    }
.text-pet{
    color: white;
    text-align: center;
    padding-right: 1rem;
    text-transform: uppercase;
    flex-basis: 40%;
    flex-wrap: wrap;
}
.text-pet{
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    } 
@media(min-width:768px){
    .text-pet{
        text-align: start;
    }
}

.pet-shop{
    text-align: center;
    padding: 2rem;
  
}
.pet-shop h1{
    text-transform: uppercase;
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(206,206,206,0);
    font-size: 14vw;
}
h1{
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
    }
    60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
    }
    75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    }
    90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
    100% {
    -webkit-transform: none;
    transform: none;
    }
    } 
.pet-shop h2{
    font-family: 'Indie Flower';
    font-size: 6vw;
    text-transform: capitalize;
    font-style: italic;
}
.pet-shop p{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.6;
}
.p-principal{
    height: 68%;
}
@media(min-width:768px){
    .p-principal{
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    }
    .pet-shop{
        flex-basis: 60%;
        margin-top: -3rem;
    }
    .pet-shop h1{
        font-size: 7rem;
    }
}
/* Redes sociales */
.cont-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
   
}
@media(min-width:768px){
.cont-header{

}
}
.iconos-s{
    display: flex;
    justify-content:center ;
    color: white;
}
.iconos-s i{
    font-size: 3.5rem;
    transition: color .5s ease-in-out;
}
.iconos-s i:hover{
    color:rgb(9, 214, 241) ;
}